<h1>Bookmarks#new</h1>
<p>Find me in app/views/bookmarks/new.html.erb</p>


<h1>Put in your bookmark, dawg</h1>

<%= form_for(@bookmark) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit "Post 'dat bookmark" %>
  </div>
<% end %>
